<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <img src="assets/layout/images/logo.svg" alt="Abacoo logo" class="mb-5 w-12rem flex-shrink-0">
        <div>
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div>
                    <form [formGroup]="forgotConfirmForm" (ngSubmit)="recovery()" novalidate>
                        <label for="code" class="block text-900 text-xl font-medium mb-2">Código</label>
                        <input id="code" formControlName="code" type="text" placeholder="Código" pInputText
                            class="w-full md:w-30rem mb-5" style="padding:1rem">

                        <label for="password" class="block text-900 font-medium text-xl mb-2">Password</label>
                        <p-password id="password" formControlName="password" placeholder="Password" [toggleMask]="true"
                            styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem">
                            <ng-template pTemplate="footer">
                                <p-divider></p-divider>
                                <p class="mt-2">Debe contener:</p>
                                <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                    <li>Mínimo 8 carácteres</li>
                                    <li>Por lo menos un número</li>
                                    <li>Por lo menos una letra minúscula</li>
                                    <li>Por lo menos una letra mayúscula</li>
                                    <li>Por lo menos un caracter especial</li>
                                </ul>
                            </ng-template>
                        </p-password>

                        <div class="flex mb-2">
                            <button pButton type="submit" pRipple label="Recuperar cuenta"
                                class="w-full p-3 text-xl"></button>
                        </div>
                        <div class="flex justify-content-right mb-5 gap-5">
                            <a class="font-medium no-underline ml-2 text-right cursor-pointer"
                                style="color: var(--primary-color)" routerLink="../login">Iniciar sesión</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
